---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div
    class='px-24 max-sm:px-5 max-w-7xl mx-auto w-full my-16 flex flex-col items-center justify-center'
  >
    <h1 class='text-5xl'>404</h1>
    <p class='pt-12
    text-2xl'>
      Not sure what you're looking for, but it's not here!
    </p>
  </div>
</Layout>
