---
import H1 from '../components/H1.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='About'>
  <div
    class='flex flex-col items-center justify-center w-full px-24 lg:px-64 max-sm:px-5 max-w-7xl my-8 mx-auto'
  >
    <H1 text='About' spanText='Me' />
    <p class='leading-8 text-xl font-thin mt-8'>
      Hi, My name is Christophe Anfry, I&apos;m 40 and want to be a frontend
      developer. My background is 15 years working in hotels and restaurants.
      Then having my first child I decided that my shifts were not compatibles
      with parent lifestyle (was working during the night also). So I worked for
      the Google workspace customer service in order to have office and day
      shifts.
      <br /><br /> From there I started get interested in web development. I
      didn&apos;t know which language to learn, so I started with HTML and CSS.
      I was facinated by all the technologies and possibilities that this
      environement could procure. From there I think i&apos;ve made all the
      possible mistakes that a beginner can make (learning different languages
      or technologies at the same time, not creating any projects, tutorials
      hell...). <br /><br />
       This blog it&apos;s one of my projects to become a frontend developer (or
      full-stack if possible, who knows <span>&#128521;</span>?) While I&apos;m
      learning I share my experience with you and give you tricks I find along
      the way. It&apos;s quiet a beginner approach but when you start it&apos;s
      very easy to get stuck, lost and overwhelmed, so showing you what to do,
      what to focus on or what to learn, will give you a better structure and
      more motivation to succeed. And if you want more advanced features
      I&apos;ll always redirect you to the corresponding articles, videos,
      people to follow or we can discover it together.
    </p>
  </div>
</Layout>
