---
const date = new Date().getFullYear();
import { Icon } from 'astro-icon';
---

<footer
  class='w-full py-6 flex flex-col items-center gap-y-1 text-center text-gray-500'
  '
>
  <p>Copyright &copy; AnfryDev {date}</p>
  <div class='flex items-center mt-4 text-sm text-gray-400'>
    <div class='flex mr-1'>
      <p class='mr-1 inline-block'>Built with Astro</p>
      <Icon pack='simple-icons' name='astro' class='w-4 h-4 text-orange-500' />
    </div>
    <div class='flex'>
      <p class='ml-1 mr-1'>and Tailwindcss</p>
      <Icon pack='logos' name='tailwindcss-icon' class='w-4 h-4' />
    </div>
  </div>
</footer>
