---
import Icon from 'astro-icon';
---

<div class='flex items-center justify-between'>
  <a href='/' class='text-cyan-500 text-4xl'>AnfryBlog</a>
  <nav class='max-md:hidden'>
    <ul class='flex items-center justify-center gap-x-8'>
      <a
        href='/'
        class={`text-xl transition ease-out hover:text-cyan-500 duration-300  ${
          Astro.url.pathname === '/'
            ? 'white border-b-2 border-cyan-500'
            : 'text-gray-400 border-none'
        } `}
      >
        <li>Home</li>
      </a>
      <a
        href='/about'
        class={`text-xl transition ease-out hover:text-cyan-500 duration-300 ${
          Astro.url.pathname === '/about/'
            ? 'white border-b-4 border-cyan-500'
            : 'text-gray-400 border-none'
        } `}
      >
        <li>About</li>
      </a>
      <a
        href='/blog'
        class={`text-xl transition ease-out hover:text-cyan-500 duration-300 ${
          Astro.url.pathname === '/blog/'
            ? 'white border-b-4 border-cyan-500'
            : 'text-gray-400 border-none'
        } `}
      >
        <li>Blog</li>
      </a>
    </ul>
  </nav>
  <div class='hidden max-md:block'>
    <div class='dropdown dropdown-end'>
      <label
        tabindex={0}
        class='transition ease-out btn m-1 bg-transparent shadow-sm shadow-cyan-500/50 text-white hover:shadow-lg hover:shadow-cyan-500/50 duration-300'
        ><Icon
          pack='jam'
          name='menu'
          class='text-cyan-500 w-[36px] h-[36px] z-50'
        /></label
      >
      <ul
        tabindex={0}
        class='dropdown-content z-[1] menu p-2 shadow-sm shadow-cyan-500/50 bg-[#18181b] rounded-box w-52'
      >
        <li>
          <a
            href='/'
            class={`text-lg transition ease-out hover:text-cyan-500 duration-300 ${
              Astro.url.pathname === '/'
                ? 'text-white'
                : 'text-gray-400 border-none'
            } `}>Home</a
          >
        </li>
        <li>
          <a
            href='/about'
            class={`text-lg transition ease-out hover:text-cyan-500 duration-300 ${
              Astro.url.pathname === '/about'
                ? 'text-white'
                : 'text-gray-400 border-none'
            } `}>About</a
          >
        </li>
        <li>
          <a
            href='/blog'
            class={`text-lg transition ease-out hover:text-cyan-500 duration-300 ${
              Astro.url.pathname === '/blog'
                ? 'white border-b-4 border-cyan-500'
                : 'text-gray-400 border-none'
            } `}>Blog</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
